.container-header {
    background-color: #1F1D2B;

    .col-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .content-header {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8.5px;
            padding: 30px 15px 30px 15px;
            margin: 0px 20px;


            .active-mode-in {
                padding: 10px;
                border-radius: 8px;
                background: #EA7C69;
                box-shadow: 0px 8px 24px 0px #EA7C6952;
            }
        }

        .active-mode-out {
            background-color: #2D303E;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: -10px;
            padding: 10px 30px 10px 15px;
            margin-right: -1px;
        }


    }
}