.container-dashboard {
    background: #2D303E;
    width: 94.4vw;
    height: 105vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;

    .header-dashboard {
        padding: 10px 10px 20px 0px;
        border-bottom: 2px solid #393C49;
        color: white;

        p:first-child {
            font-weight: 600;
            font-size: 28px;
            list-style: 39.2px;
        }

        p:last-child {
            color: #889898;
            font-weight: 300;
            font-size: 16px;
            line-height: 22.4px;
        }
    }

    .content-top {
        display: flex;
        gap: 10px;

        .container-content-top {
            border-radius: 8px;
            width: 199px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: white;
            background-color: #1F1D2B;


            .content-header-top {
                display: flex;
                align-items: center;
                gap: 10px;


                .content-icon {
                    padding: 10px;
                    background: #252836;
                    border-radius: 10px;
                }

                .content-persen {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16.8px;

                    .increase {
                        font-size: 0.7rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25px;
                        height: 25px;
                        border-radius: 999999px;
                    }
                }
            }

            .content-body-top {
                font-size: 28px;
                font-weight: 600;
                line-height: 39.2px;
                text-align: left;
            }
        }
    }

    .content-bottom {
        border: 1px solid white;
    }
}