.container-dashboard {
    background: #2D303E;
    width: 94.4vw;
    height: 105vh;
    padding: 20px;

    .header-dashboard {
        padding: 10px 10px 20px 0px;
        border-bottom: 2px solid #393C49;
        color: white;

        p:first-child {
            font-weight: 600;
            font-size: 28px;
            list-style: 39.2px;
        }

        p:last-child {
            color: #889898;
            font-weight: 300;
            font-size: 16px;
            line-height: 22.4px;
        }
    }

    .content-top {
        display: flex;
        gap: 10px;

        .container-content-top {
            color: white;
            background-color: #1F1D2B;


            .content-header-top {
                padding: 15px;
                display: flex;


                .content-icon {
                    padding: 10px;
                    background: #252836;
                    border-radius: 10px;
                }
            }
        }
    }

}